@using Domain.Entities
@model IEnumerable<Area>

@{
    ViewBag.Title = "Аренда";
}

@*<img src="..\Content\Images\3.jpg">*@

@{int count = 0;}

@foreach (Area item in Model)
{
    <div>

        <h3>@item.ContactaName</h3>
        <h2>@item.ContactaPhone1</h2>
        <h1>@item.MonthPrice</h1>
        @{
            count++;
           // string str = "../Content/Img/" + count;
            <img src="@String.Format("../Content/Img/{0}.jpg", count)" height="120" width="160" />
            @*<img src="../Content/Images/136" alt="photo" height="42" width="42">*@
        }

    </div>
    <hr />
}